<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Layout</title>
</head>
<body>
    <header><h1>Cities</h1></header>
    <section>
        <nav>
            <ul>
                <li><a href="#">London</a></li>
                <li><a href="#">Paris</a></li>
                <li><a href="#">Tokyo</a></li>
            </ul>
        </nav>

        <article>
            <h1>London</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet atque voluptatem nesciunt eius alias, distinctio dolorum assumenda. Nisi, natus eos commodi aliquam accusamus velit laudantium veniam, ut quos recusandae rerum?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae molestias ab rem veniam, pariatur at, dolorem tempora rerum nesciunt exercitationem labore soluta. Iusto, nostrum cum. Vel ab ullam fugit inventore!</p>    
        </article>
        
        <div class="clear"></div>

        <footer>
            <p>Footer</p>
        </footer>
    </section>
</body>
</html>